.task {
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.25fr;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  &__title {
    font-weight: 500;
    display: grid;
    font-size: 1.8rem;
    color: var(--secondary);
    width: fit-content;
    small {
      opacity: 0.8;
      font-size: 1.4rem;
      color: rgb(47, 46, 46);
    }
  }
  &__priority,
  &__status {
    font-weight: 400;
    &--red {
      color: var(--danger);
    }
    &--green {
      color: var(--terciary);
    }
    &--blue {
      color: var(--secondary);
    }
  }
}
