
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/**/.nyc_output

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/

# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Miscellaneous
/**/.angular/cache/
.sass-cache/
/**/connect.lock
coverage/
/**/libpeerconnection.log
/**/testem.log
typings/

# System files
/**/Thumbs.db
