.task-page {
  &__form {
    padding: 0 2rem;
  }
  &__title {
    background-image: linear-gradient(
      to right,
      var(--primary) 40%,
      var(--secondary)
    );
    background-clip: text;
    color: transparent;
    background-size: contain;
    width: fit-content;
    font-size: 3rem;
  }
  &__toggle-button {
    background-color: transparent;
    border: none;
    color: var(--secondary);
    padding: 1rem 0;
    cursor: pointer;
    font-size: 2rem;
    &:hover {
      text-decoration: underline;
    }
    &--cancel {
      color: var(--danger);
    }
  }
  &__search {
    padding: 1rem 0;
    margin: 0;
    button {
      border: 0;
      padding: 1rem;
      background-color: var(--secondary);
      border-radius: 3px;
      color: #eee;
      cursor: pointer;
      &:hover {
        filter: brightness(90%);
      }
    }
    input {
      padding: 1rem;
      outline: 0;
      border: 0;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }
  }
}
